









































table{
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1rem;
}
td,th{
    border: 1px solid rgb(190, 190, 190);
    padding-right: 120px;
    margin: 105px 50px;

}
td{
    text-align: center;
}
td,th{
    text-align: center;
}
